body{
	background: url(camera.jpg) no-repeat center center fixed;
	background-size: cover;
}

h1{
	text-align: center;
	margin-top: 10%;
	font-family: tahoma;
	font-size: 3em;
	background: #A68079;
	background-opacity: 0.8;
}

.clear{
	display: flex;
	justify-content: center;
	margin-top: 27%;
}

.button{
	display: flex;
	justify-content: center;
	margin-top: 27%;
}

.btn-primary{
	font-family: tahoma;
	background-color: #A68079;
	border-color: #403E3E;
}

.btn-primary:hover{
	background-color: #8F8682;
}


